body
{
	background-color: gold;
	color: black;
	font-family: Times New Roman, comic;
	border: 3px solid: red);
}
a
{ 
text-decoration: underline;
   color: white;
}

h1
{ text-align: center;
  color: purple;
}


nav
{
text-align: center;
}

footer
{
  font-size: 80%
}
li
  
{
line-height:400%
{
